.section-main {
    padding-top: 20px;
    .table {
        background: #fff;
        border: 1px solid #e9e9e9;
        padding: 20px;
    }
    .img {
        width: 40px;
        height: 40px;
    }
}
