.item {
    display: flex;
    padding: 0.1rem 0.3rem;
    border-bottom: 1px solid #dbdbdb;

    .img {
        width: 1.5rem;
        height: 1.5rem;
    }
    .content {
        padding: 0.1rem 0.2rem 0 0.3rem;
        flex: 1;

        .content-info {
            margin: 0.15rem 0;

            .strong {
                color: #fa4100;
            }
            .addon-group {
                position: relative;
                top: -0.1rem;
                float: right;
                margin-bottom: 0.1rem;
                border-radius: 0.06rem 0.06rem;
                overflow: hidden;
                border-radius: 50%;

                .addon-right {
                    float: right;
                    display: block;
                    background: #ffe500;
                    width: 0.6rem;
                    height: 0.6rem;
                    font-size: 0.4rem;
                    font-weight: 400;
                    line-height: 0.55rem;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 50%;
                }
                .disabled {
                    color: #e9e9e9;
                }
            }
        }
    }

    .fiexedBtn {
        position: fixed;
        right: 0.3rem;
        bottom: 1.2rem;
        width: 1.2rem;
        height: 1.2rem;
        padding-top: 0.18rem;
        background: #428bca;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        .icon {
            font-size: 0.4rem;
            font-weight: 600;
        }

        .text {
            margin-top: 0.1rem;
            font-size: 0.2rem;
        }
    }
}
