.section-main {
    .form {
        .img-wrap {
            display: table;
            text-align: center;
            margin: 0.45rem auto;

            .img {
                border-radius: 50%;
                width: 2.4rem;
                height: 2.4rem;
            }

            .file {
                display: none;
            }
        }
        .card {
            background: #fff;
            margin-bottom: 0.5rem;
            border-top: 1px solid #dbdbdb;

            .field {
                border-bottom: 1px solid #dbdbdb;

                .label {
                    display: flex;
                    padding: 0.2rem 0;

                    .title {
                        width: 2rem;
                        padding: 0.06rem 0 0.06rem 0.3rem;
                    }
                    .input {
                        flex: 1;
                        background: #fff;
                        outline: none;
                        border: none;
                        padding: 0.06rem 0;

                        &:-webkit-autofill {
                            -webkit-box-shadow: 0 0 0 1000px #fff inset;
                        }
                        &.disabled {
                            color: #aaa;
                        }
                    }
                }

                .logout {
                    width: 100%;
                    padding: 0.2rem 0;
                    background: #fff;
                    border: none;
                }
            }
        }
    }
}
