.actionbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.03rem 0.1rem;
    background: #ffe500;

    .back {
        margin: 0;
        text-align: center;
        width: 0.8rem;
        padding: 0.25rem 0;

        .icon {
            font-size: 0.3rem;
            display: block;
        }
    }

    .title {
        margin: 0;
        text-align: center;
        padding: 0.26rem 0;
        font-size: 0.28rem;
        font-weight: 500;
    }

    .action {
        width: 0.8rem;
        margin: 0;
        padding: 0.28rem 0;
        text-align: center;
        font-size: 0.24rem;
        font-weight: 500;
    }
}
