.navbar {
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;

    &.hide {
        display: none;
    }

    .link {
        display: block;
        width: 25%;
        padding-top: 0.15rem;
        text-decoration: none;
        color: #333;
        text-align: center;

        &.active {
            color: #428bca;
        }

        .icon {
            font-size: 0.35rem;
        }

        .title {
            margin-top: 0.1rem;
        }
    }
}
