.alert {
    position: fixed;
    left: 50%;
    top: 45%;
    max-width: 125px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    transform-origin: 0% 0%;
    transform: translate(-50%, -50%);
    animation: animate 0.3s;

    @keyframes animate {
        0% {
            opacity: 0.5;
            transform: scale(0.5) translate(-50%, -50%);
        }
        100% {
            opacity: 1;
        }
    }

    .icon-ok {
        display: block;
        text-align: center;
        font-size: 50px;
    }

    .icon-error {
        display: block;
        text-align: center;
        font-size: 35px;
        padding: 7px;
    }

    .message {
        margin-top: 0;
        line-height: 1.2;
    }
}
