<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>校园网上超市 - 买家版</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link href="/vendor/normalize.min.css" rel="stylesheet">
        <link href="/vendor/iconfont.css" rel="stylesheet">
    </head>
    <body>
        <div id="root" class="root"><%- root %></div>

        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
        <script type="text/javascript" src="/vendor/flexible.min.js"></script>
    <script type="text/javascript" src="/manifest.js"></script><script type="text/javascript" src="/vendor.js"></script><script type="text/javascript" src="/bundle.js"></script></body>
</html>
