<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>校园网上超市</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/bundle.d74b9b1f.css" rel="stylesheet"></head>
    <body>
        <div id="root" class="root"><%- root %></div>

        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
    <script type="text/javascript" src="/manifest.fc453f56.js"></script><script type="text/javascript" src="/bundle.6a6bcfb4.js"></script><script type="text/javascript" src="/vendor.5c2819bb.js"></script></body>
</html>
