.section-main {
    .menu {
        width: auto !important;
        font-size: 0.24rem;
        border-radius: 0 !important;
        border: none;

        .item {
            text-align: left;
            padding: 0.3rem 0.5rem;
            border-radius: 0 !important;
        }
    }
}
